    body {
        background-color: #f2e4d8 !important;
        font-family: 'Libre Baskerville', serif;
    }
    
    .welcome-sign {
        padding: 15px;
    }
    
    .fake-link {
        color: #000000;
    }
    
    .fake-link:hover {
        text-decoration: none;
        color: #510d0d;
    }
    
    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: #510d0d;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: #000000;
    }
    
    .navbar {
        background-color: #d5a47e !important;
    }
    
    .active {
        color: #6f0b0b !important;
    }
    
    .content-container {
        width: 100% !important;
        margin-bottom: 30px;
    }
    
    .world-building-content {
        padding: 15px;
    }
    
    .world-building-container {
        margin: 30px 0;
    }
    
    .header {
        text-align: center;
        margin-bottom: 25px;
    }
    
    .side-menu {
        padding: 30px 20px;
    }
    
    .content {
        padding: 24px 30px;
    }
    
    .content-background {
        background-color: #d5a47e94;
    }
    
    .world-building-post {
        padding: 10px;
    }
    
    .menu-item {
        border: 2px solid black;
        margin: 30px 1px;
        padding: 20px 10px;
        border-radius: 10px;
    }
    
    .post {
        background-color: #c99b78;
        border-radius: 10px;
        margin: 0px 10px;
    }
    
    .post-content {
        padding: 20px 40px;
    }
    
    .post-line {
        margin: 40px 0px;
    }
    
    .item-row {
        margin-bottom: 30px;
        background-color: #d5a47e94;
        padding: 10px;
    }
    
    .footer {
        position: fixed;
        width: 100%;
        background-color: rgb(213 164 126);
        text-align: center;
        bottom: 0 !important;
        color: #000000;
    }
    
    .footer:hover {
        text-decoration: none;
        background-color: black;
    }
    
    .container {
        margin: 10px;
    }
    
    .post-content {
        width: 600px;
        height: fit-content;
        padding: 10px 10px 100px 10px;
        background-color: #d5a47e94;
    }
    
    .individual-post {
        width: 200px !important;
        word-break: break-all !important;
        word-wrap: break-word !important;
        padding: 10px 20px !important;
        background-color: #977155 !important;
        color: rgb(245, 216, 178) !important;
        border-radius: 10px !important;
    }
    
    .poster {
        text-align: left;
    }
    
    .post-stuff {
        text-align: right;
        color: rgb(253, 241, 226);
    }
    
    .link {
        text-decoration: none;
        color: black;
    }
    
    .link:hover {
        color: tan;
    }
    
    .item {
        padding: 10px;
    }
    
    .name {
        text-decoration: underline;
    }
    
    .masonry {
        column-count: 5;
        margin: 30px 150px;
        column-gap: 150px;
    }
    
    .ye {
        column-count: 4;
        margin: 20px;
        column-gap: 0px;
    }
    
    .masonry-item {
        background-color: #d5a47e94;
        padding: 9px;
        margin: 0 0 20px;
        display: inline-block;
        width: 100%;
    }
    
    .discussion-post {
        padding-left: 20px;
        padding-top: 10px;
    }
    
    .reply-button {
        border-radius: 10px;
        background-color: #d5a47e;
    }
    
    .result {
        margin-top: 30px;
        padding: 30px;
    }
    
    .searchBar {
        border-bottom: 2px solid black;
        padding-bottom: 30px;
    }
    
    .listResult {
        padding-top: 20px;
    }
    
    .review_link {
        color: #000000;
    }
    
    .review_link:hover {
        text-decoration: none;
        color: #510d0d;
    }
    
    .searchButton {
        background-color: #e2bfa4;
    }
    
    @media only screen and (min-width: 1024px) {
        .welcome-sign {
            margin: 20px;
        }
        .side-menu {
            margin-right: 45px;
        }
        .content-row {
            margin: 0px 30px;
        }
        .content-container {
            margin-bottom: 30px;
        }
        .item-img {
            height: 200px;
        }
        .item-img-sm {
            width: 260px;
        }
    }
    
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
        .masonry {
            column-count: 3;
            margin: 20px 10px;
        }
        .welcome-sign {
            padding: 20px 10px !important;
        }
    }
    
    @media only screen and (max-width: 767px) and (min-width: 540px) {
        .masonry {
            column-count: 2;
            margin: 20px 10px;
        }
        .active {
            border: 1.5px solid #120808;
            width: fit-content;
            border-radius: 5px;
            padding: 5px 5px !important;
        }
        .welcome-sign {
            padding: 20px 10px !important;
        }
        .login {
            float: inline-end;
            top: 0px;
            right: 0px;
            padding: 20px 50px;
        }
        .post-content {
            width: fit-content;
        }
    }
    
    @media only screen and (max-width: 539px) {
        .masonry {
            column-count: 1;
            margin: 30px 10px;
        }
        .ye {
            column-count: 1;
            margin: 30px 10px;
        }
        .post-content {
            width: fit-content;
        }
        .active {
            border: 1.5px solid #120808;
            width: fit-content;
            border-radius: 5px;
            padding: 5px 5px !important;
        }
        .welcome-sign {
            border-bottom: 2px solid black;
        }
        .content-background {
            margin: 20px 10px;
        }
        .side-menu {
            margin-top: 30px;
        }
        .content {
            padding: 17px 0px;
        }
        .post {
            margin-bottom: 30px;
        }
        .item {
            margin-bottom: 25px;
        }
        .items {
            margin-top: 30px;
        }
        .item-row {
            margin: 1px;
            margin-bottom: 30px;
        }
        .login {
            position: relative;
            padding: 10px 0;
        }
    }